body{
    background-color:lightblue ;
}

h1{
    margin-top: 80pt;
    text-align: center;
}

form{
    background-color: white;
    height: 400px;
    width: 750px;
    margin-top: 100pt;
    margin-left: 400px;

}

.respostas{
    background-color: navy;
    height: 300px;
    width: 200px;
    margin-top: 100pt;
    margin-left: 800px;
}