header{
    position: relative;
    display:grid;
    text-align:center;
    margin-top: 50pt;
    margin-left: -400px;
}

body{
    position:relative;
    display:block;
    background-color:lightblue ;
    min-width: 100%;
    max-width: 800px;
    margin-left: 200pt;
}

form{
    position: relative;
    display: block;
    background-color: white;
    max-width: 840px;
    height: 400px;
    width: 600px;
    border-radius: 10px;
    margin-left: 200pt;
}

button{
    background-color:hsl(183, 100%, 15%);
}

.porcentagem{
    display:contents;
    align-items: flex-start;
}

.respostas{
    display: contents;
    align-items:flex-end;
}

