header{
    position: relative;
    display:block;
    text-align:center;
    margin: auto;
    margin-top: 50pt;
    color:darkslategray;
    font-weight:bold;
}

body{
    display:grid;
    background-color:lightblue ;
    min-width: 375px;
    max-width: 1440px;
}

form{
    background-color: white;
    height: 400px;
    width: 800px;
    border-radius: 10px;
    margin: auto;
    text-align: left;
    align-items: center;
}


button{
    background-color:hsl(183, 100%, 15%);
    border-color:hsl(183, 100%, 15%) ;
    color:white;
    border-radius: 5px;
    float: left;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: none;
    font-weight: bold;
}

h2{
    margin-left: 10px;
}

fieldset{
    margin-top: 50px;
}

.ladoesq{
    display: inline-block;
    float: left;
    margin: 10px 20px;
    padding: 10px 10px;
    border: none;
}

.ladodir{
    display: inline-block;
    float: right;
    background-color:hsl(183, 100%, 15%) ;
    width: 300px;
    height: 350px;
    padding: 10px 10px;
    margin: 15px 20px;
    border-radius: 4px;
    border:none;
}

#cliente{
    background-color: white;
    color: darkcyan;
    border: blue;
}

input{
    text-align: left;
    border-radius: 3px;
    padding: 5px 50px;
}

button:hover{
    display: inline-block;
    background-color: aquamarine;    
    color: hsl(183, 100%, 15%) ;
}

p{
    color:white;
    font-size: 24px;
}

input[type ="reset"]{
    position: absolute;
    text-align: center;
    color:darkcyan;
    font-size: 20px;
    background-color: aquamarine;
    padding: 10px 120px;
    border: none;
    font-weight: bold;
    margin-top: 100px;
}

